.wrapper {
    padding: 1.25rem 0 0.6rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.postAuthorContainer {
    padding: 0 1.25rem 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postAuthor {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.postAuthor:hover {
    text-decoration: underline;
}

.profilePicture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.subscribeBtn {
    background-color: #343331;
    font-size: 0.8rem;
    font-weight: 600;
    height: min-content;
    padding: 0.4rem 1.1rem;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.subscribeBtn:hover {
    background-color: #3f3c35;
}

.postContentContainer {
    padding: 0 1.25rem 0 1.25rem;
    display: flex;
}

.postContent {
    font-size: 0.9rem;
}

.postInteractions {
    padding: 0 1.25rem 0 1.25rem;
    display: flex;
    justify-content: space-between;
}

.buttonsContainer {
    display: flex;
    gap: 1rem;
}

.buttonsContainer button {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease;
}

.buttonsContainer button:hover {
    color: rgba(255, 255, 255, 0.35);
}

.timeAgoPost {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.postComment {
    padding: 0.35rem 1.25rem 0.35rem 1.25rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}

.leftSide {
    display: flex;
    gap: 0.5rem;
}

.postComment:hover {
    background-color: #333333;
}

.commentAuthorContainer {
    height: 100%;
}

.commentAuthor {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.commentInfo {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 5px;
}

.commentAuthorUsername,
.commentContent {
    font-size: 0.825rem;
}

.commentCreatedAt {
    font-size: 0.825rem;
    color: #777;
}

.postImageContainer {
    margin-top: 10px;
    text-align: center;
}

.postImage {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}