.friendCard {
    width: 165px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #333333;
}

.friendProfilePicture {
    width: 165px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.friendUsername {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: white;
}

.addToFriendsBtn {
    font-size: 15px;
    width: 90%;
    gap: 0.3rem;
    background-color: #fff;
    color: black;
    padding: 4px 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

.addToFriendsBtn:hover {
    background-color: #e4e4e4;
}