.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    height: 48px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}

.vkLogo {
    width: 25px;
}

.logoTitle {
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.headerInput {
    border: none;
    padding: 0.40rem;
    border-radius: 10px;
    background-color: #424242;
    color: white;
}

.headerInput:focus {
    border: 1px solid white;
}

.headerInput::placeholder {
    padding: 0 0 0 1rem;
    font-size: 0.9rem;
}