.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    height: 48px;
    z-index: 1000;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}

.vkLogo {
    width: 25px;
}

.logoTitle {
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.searchContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: #777;
}

.headerInput {
    border: none;
    padding: 0.40rem;
    font-weight: 300;
    padding-left: 2rem;
    border-radius: 10px;
    background-color: #424242;
    color: white;
}

.headerInput:hover {
    background-color: #494949;
}

.headerInput::placeholder {
    font-size: 0.9rem;
}