.createPostBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #222222;
    padding: 0.8rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.createPost {
    font-size: 0.825rem;
    font-weight: 500;
}

.createPostBtn:hover {
    color: rgb(200, 200, 200);
}